/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Trirong");
/* Set full height for HTML and body elements */
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Use Poppins for body text */
}

/* Basic styling for body */
body {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    background-color: #f0f0f5;
    color: #333;
}

/* Main content styling */
.content {
    flex: 1;
    padding: 1.5rem; /* Adds padding to content */
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    border-radius: 10px;
}

/* Header styling */
header {
    font-family: 'Poppins', sans-serif; /* Use Montserrat for header text */
    background-color: #F1675C; /* Use blue from the logo */
    color: #FECD09;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-image: url('banner.jpeg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
}
/* Media query for larger screens (PC) */
@media (min-width: 768px) {
    header {
        height: 600px; /* Increase height for larger screens */
    }

    .header-content {
        font-size: 3rem; /* Increase font size for larger screens */
    }
}

/* Media query for portrait mode on smaller screens (mobile devices) */
@media (max-width: 767px) and (orientation: portrait) {
    header {
        height: 500px; /* Decrease height for smaller screens */
        background: none; /* Remove the background image */
        padding: 1rem; /* Adjust padding for smaller screens */
        background-color: #F1675C; /* Use blue from the logo */
    }

    .header-content {
        font-size: 1.2rem; /* Decrease font size for smaller screens */
        max-width: 100%; /* Increase max-width for better text fitting */
        word-wrap: break-word; /* Allow long words to break to the next line */
    }
    
    .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
    
    .image-container {
        display: none; /* Hide the entire container */
    }

}
/* Footer styling */
footer {
    font-family: 'Poppins', sans-serif;
    background-color: #F1675C; /* Use blue from the logo */
    color: #FECD09;
    padding: 1rem;
    text-align: center;
    width: 100%; /* Ensure footer spans the entire width */
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

/* Footer content styling */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.footer-content .mb-0 {
    margin-top: 0.1rem;
}

/* Logo styling */
.logo {
    max-width: 200px; /* Set the maximum width of the logo */
    margin-bottom: 10px; /* Add some margin below the logo */
}

/* Wrapper styling */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of viewport height */
}

/* Main section styling */
main {
    flex: 1; /* Fill remaining vertical space */
}

/* Navbar styling */
nav {
    margin-bottom: 1rem;
    background-color: #0056A4; /* Use blue from the logo */
    padding: 1rem;
    border-radius: 10px;
}

.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.navbar-nav li {
    margin: 0.1rem;
}

.navbar-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; /* Use Poppins for nav links */
}

/* Carousel item styling */
.carousel-item {
    height: 500px; /* Set a fixed height for the carousel */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Carousel image styling */
.carousel-image {
    height: 100%;
    width: 100%;
    object-fit: cover; /* Ensure the image covers the entire carousel area */
}

/* Login form styling */
.login-form {
    display: grid;
    place-items: center; /* Center the login form */
}

/* Form group margin */
.form-group {
    margin-bottom: 1rem;
}

/* Form label margin */
.form-label {
    margin-bottom: 0.5rem;
    font-weight: 500; /* Slightly bolder labels */
}

.form-control[type="file"] {
    display: block;
    margin: 0 auto;
    padding: 0.2rem;
}

/* Login box styling */
.login-box {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Button styling */
button {
    background-color: #F1675C; /* Use blue from the logo */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7a007a; /* Darker shade of blue for hover effect */
}

/* Links styling */
a {
    color: #00a426; /* Use blue from the logo */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #7a0062; /* Darker shade of blue for hover effect */
}

/* Alert styling */
.alert {
    background-color: #FFD700; /* Use yellow from the logo */
    color: #333;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.alert-success {
    background-color: #00A651; /* Use green from the logo */
}

.alert-error {
    background-color: #E94E1B; /* Use red from the logo */
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    text-align: left;
}

/* Add any custom styles for the modal here */
.modal-body {
    padding: 2rem;
}

.modal-lg {
    max-width: 80%;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 0.8s ease-out;
}

.slide-up {
    animation: slideUp 0.8s ease-out;
}

.custom-btn {
    background-color: #F1675C; /* Primary color */
    color: white;
    border: none;
}

.custom-btn:hover {
    background-color: #a83203f1; /* Darker shade for hover */
    color: white;
}

.bg-bar {
    display: flex;
    justify-content: space-between; /* Align items to left and right */
    align-items: center; /* Center vertically */
    background-color: #f1675c; /* Primary color */
    border-radius: 5px;
    padding: 0.5rem;
}

.bg-bar-text {
    align-items:center;
    color:white;
    padding-top: 01rem;
}

.d-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-container {
    flex: 1;
    margin-right: 2rem;
}

.image-container {
    flex: 0 0 30%; /* Allocate 30% of the width to the image container */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.rounded {
    border-radius: 0.25rem;
}
