{% extends "base.html" %}

{% block title %}View Help Requests{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Help Requests</h2>
    <a href="{{ url_for('admin_login') }}" class="btn btn-danger">Logout</a>
</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>School/College</th>
                <th>Program</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{ request['name'] }}</td>
                <td>{{ request['email'] }}</td>
                <td>{{request['school/college']}}</td>
                <td>{{ request['program'] }}</td>
                <td>{{ request['details'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}