{% extends "base.html" %}

{% block title %}Submit Request{% endblock %}

{% block content %}
<div class="container pb-5">
    <div class="card mt-3">
        <div class="card-header">
            <h2 class="card-title">Submit Help Request</h2>
        </div>
        <div class="card-body">
            <p>
                We are here to support and empower women from all walks of life. Whether you are seeking educational resources, career guidance, personal assistance, or any other form of support, we are here to help. Please take a moment to fill out the form below with your request, detailing your specific needs or circumstances. 
            </p>
            <p>
                Our dedicated team will carefully review your submission and reach out to you with the necessary support and guidance as soon as possible. Your journey towards a better future is important to us, and we are committed to providing the assistance you need.
            </p>
            <p>
                Kindly provide detailed and accurate information to help us understand your requirements better.
            </p>
            <form method="post" action="{{ url_for('submit') }}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address" required>
                </div>
                <div class="form-group">
                    <label for="number">Phone Number</label>
                    <input type="text" class="form-control" id="number" name="number" placeholder="Enter your phone number" required>
                </div>
                <div class="form-group">
                    <label for="school">School/College (If Applicable)</label>
                    <input type="text" class="form-control" id="school" name="school" placeholder="Enter your school or college name" >
                </div>
                <div class="form-group">
                    <label for="year">Year of Study (If Applicable)</label>
                    <input type="text" class="form-control" id="year" name="year" placeholder="Enter your year Study" >
                </div>
                <div class="form-group">
                    <label for="purpose">Purpose of Help Request</label>
                    <select class="form-control" id="purpose" name="purpose" required>
                        <option value="">Select Purpose</option>
                        <option value="Tuition Fees">Tuition Fees</option>
                        <option value="Books and Supplies">Books and Supplies</option>
                        <option value="Accommodation">Accommodation</option>
                        <option value="Travel Expenses">Travel Expenses</option>
                        <option value="Travel Expenses">Medical Expenses</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="details">Details </label>
                    <textarea class="form-control" id="details" name="details" rows="5" placeholder="Provide detailed information about your request" required></textarea>
                </div>
                <div class="form-group">
                    <label for="identity_proof">Identity Proof</label>
                    <input type="file" class="form-control" id="identity_proof" name="identity_proof" accept=".jpg,.jpeg,.png,.pdf" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
